body {
    background-color: #faedcd;
    color: #d4a373;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* mobile S */
@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 3840px;
    }
}

.aboreto-regular {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.aboreto-bold {
    font-family: "Aboreto", system-ui;
    font-weight: 700;
    font-style: normal;
}

.figtree-regular {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.figtree-bold {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Hero image - about */
.about .hero-image {
    /* Adjust height and width */
    height: 100vh;
    width: 100%;

    /* Darken the background so it's easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/making-bread-1.jpg"); */
    background-image: url("images/making-bread-1.jpg");

    /* Position and center image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in middle of image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white; */
}

/* Enlarge the h1 text */
.hero-text h1 {
    font-size: 50px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    /* color: black; */
    color: #d4a373;
    background-color: #fefae0;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #faedcd;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    text-align: center;
}

#founders img {
    width: 50%;
}